    @using MVC_060223.Classes;
@model Film
@{
    ViewData["Title"] = "Film Silme";
}
<h1>Film Silme</h1>

<form asp-controller="Filmler" asp-action="SilOnay" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="mb-2">
        <label asp-for="Ad"> (@Model.Ad)  (@Model.Yil) bu film silinecektir.Onaylıyor musunuz? </label>       
    </div>
    <button class="btn btn-primary">Sil</button>
    <a asp-controller="Filmler" asp-action="Index" type="button" class="btn btn-warning">VAZGEC</a>
</form>