@using MVC_060223.Classes;
@model Film
@{
    ViewData["Title"] = "Film Silme";
}
<h1>Film Silme</h1>

<form asp-controller="Filmler" asp-action="SilOnay" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="mb-2">
        <label asp-for="Ad">Silmek İstediğin Id'ye ait kişinin Adı: @Model.Ad  @Model.Yil @Model.Puan eminsen Sil butonuna bas </label>       
    </div>
    <button class="btn btn-primary">Sil</button>
</form>